nav{
    background-color: #1E202B;
}
section{
    background-color: #1E202B;
}
.soso{
    background-color: #323544;
    color: white;
}
.lolo{
    background-color: #262936;
    color: white;
}
i{
    font-size: 28px;
}
footer{
background-color: #262936;
padding: 62px;   
 
}
